<div style="display: flex; flex-direction: column; height: 100vh;">
        <mat-toolbar [color]="colorTheme">
            <button mat-icon-button  (click)="isMenuOpened = !isMenuOpened">
                <mat-icon>menu</mat-icon>
              </button>
            <span>{{title}}</span>
            <span class="spacer"></span>
            <button mat-icon-button>
              <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>information</mat-icon>
            </button>
        </mat-toolbar>
        <mat-sidenav-container>
            <mat-sidenav mode="side" [(opened)]="isMenuOpened">
                <mat-list>
                    <mat-list-item>
                        <a routerLink="/dashboard">Dashboard</a>
                        <a routerLink="/home">Home</a>
                        <a routerLink="/home">Home</a>
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    <mat-tab-group headerPosition="below" *ngIf="isSmallSize">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="flex-container">
                    <div class="flex-item">
                        <mat-icon [color]="colorTheme">dashboard</mat-icon>
                    </div>
                    <div class="flex-item">
                        <span>Dashboard</span>
                    </div>
                </div>
            </ng-template>
            <router-outlet></router-outlet>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <button mat-mini-fab matTooltip="Primary" [color]="colorTheme">
                    <mat-icon>add</mat-icon>
                  </button>
            </ng-template>
            <router-outlet></router-outlet>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                    <div class="flex-container">
                        <div class="flex-item">
                            <mat-icon [color]="colorTheme">settings</mat-icon>
                        </div>
                        <div class="flex-item">
                            <span>Settings</span>
                        </div>
                    </div>
            </ng-template>
            <router-outlet></router-outlet>
        </mat-tab>
    </mat-tab-group>
</div>
